# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode
*.xcodeproj
*.xcworkspace
xcuserdata/
*.xcscmblueprint
*.xccheckout
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.resolved
*.xcodeproj

# Tuist
Derived/
.tuist-version
.tuist-bin
Tuist/Dependencies/
graph.json

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# CocoaPods
Pods/
*.lock

# Misc
*.swp
*.swo
*~
.env
.env.local
