<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApCSdBmqPap7pj3_TeYAVBUb1tVmLlTP0</string>
	<key>GCM_SENDER_ID</key>
	<string>364602141534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.axiomorient.tablo</string>
	<key>PROJECT_ID</key>
	<string>time-block-log</string>
	<key>STORAGE_BUCKET</key>
	<string>time-block-log.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364602141534:ios:1dc9dddb2cc95a31b33dcf</string>
</dict>
</plist>